<div class="container p-3 my-3 border">
  <h1>New User</h1>
    <br>
    <%= render 'shared/errors' %>

    <form action ="<%= users_url %>" method="POST">
      <%= auth_token %>
      <div class="input-group mb-3">
      <%# <label for="user_email">E-mail</label> %>
      <input type="text" name="user[email]" id="user_email" value="<%= @user.email %>" placeholder="E-mail">
      </div>
      <div class="input-group mb-3">
      <%# <label for="user_password">Password</label> %>
      <input type="password" name="user[password]" id="user_password" value="<%= @user.password %>" placeholder="Password">
      </div>
      <br>
      <input type="submit" class="btn btn-outline-primary">
    </form>
<div>